/* ==========================================================================
/* ARCHIVO: ESTILOS DEL HEADER DEL LOGIN
/* ========================================================================== */

/* Header del login */
.header-login {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* Contenedor del header del login */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  gap: 100px;
}
