/* ==========================================================================
/* ARCHIVO: ESTILOS DE LA VISTA DE LOS PACIENTES (PSICÓLOGO)
/* ========================================================================== */

/* ==========================================================================
/* CONTENEDOR PRINCIPAL
/* ========================================================================== */

/* Tarjeta contenedora */
.card-patients-view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
  background: var(--secondary-bg);
  padding: 60px;
  margin: 40px 0;
  border-radius: 16px;
}

/* Nota: aún faltan estilos, porque falta completar la interfaz */
